<h1>Tickets</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created By</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <% if ticket.user == current_user %>
        <tr>
          <td><%= link_to truncate(ticket.title, length: 25), ticket %></td>
          <td><%= truncate(ticket.description, length: 25) %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.user.name %></td>
          <td><%= ticket.created_at %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Ticket', new_ticket_path, class: "btn btn-success" %>
