<p id="notice"><%= notice %></p>

<div class="text-right">
    <%= link_to "Edit Projetc", edit_project_path(@project), class: "btn btn-outline-primary" %> 
    <%= link_to "Back", projects_path, class: "btn btn-outline-secondary" %>
</div>


<div class="card">
    <div class="card-header">
        <h3> <%=@project.name %></h3>
    </div>
    <div class="card-body">
        <p class="card-text">
            <%= @project.description %>
        </p>
    </div> 
</div>

